*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; 
    color: #ffff;

}


html {
    font-family: "Open Sans", sans-serif;
}
#navbar {
    color: #ffff;
    display: flex;
    justify-content: space-between;
}